<div id='container'>
  <!-- Your html here -->

  <nav class="navigation">
    <ul>
      <li>
          <a class="red" href="#/tasks" ng-class="{ active: isActive('#/tasks')}">Tasks</a>
      </li>
       <li>
          <a href="#/finishedTasks" ng-class="{ active: isActive('/finishedTasks')}">Finshed Tasks</a>
      </li>
    </ul>
  </nav>
</div>
<form ng-submit='addTask()'>
  <input type='text' ng-model='user.task' placeholder='What to do'/>
    <label>
    <div class="tasks" ng-repeat="tasks in data.tasks | orderBy: date  track by $index" ng-click='finishedTask($index)'>
      <div>{{tasks.user}}: {{ tasks.task }} </div>
    </label>
  </div>
</form>
